SUPABASE_URL=https://tgvpmzpbuvegfehptqxh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_SUPABASE_URL=https://tgvpmzpbuvegfehptqxh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_KS0uLXVf0lhR4Ef-3hq5eg_DUmeKCA-
