<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="in.chinatech.phoneassistanttest"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="37"/><uses-permission android:name="android.permission.WRITE_CONTACTS"/><uses-permission android:name="android.permission.READ_CONTACTS"/><application android:label="Synthetic transfer tests"><provider android:name="in.chinatech.phoneassistant.SyntheticDocuments" android:authorities="in.chinatech.phoneassistanttest.documents" android:permission="android.permission.MANAGE_DOCUMENTS" android:exported="true" android:grantUriPermissions="true"><intent-filter><action android:name="android.content.action.DOCUMENTS_PROVIDER"/></intent-filter></provider><activity android:name="in.chinatech.phoneassistant.GrantActivity" android:exported="true"/></application><instrumentation android:name="in.chinatech.phoneassistant.RuntimeTests" android:targetPackage="in.chinatech.phoneassistant"/></manifest>
